<%= @service.fluentd.header %>
    <%- if @service.fluentd.include_tcp_source -%>
    <source>
      @type forward
      port 24224
    </source>
    <%- end -%>
    <filter **.rack-traffic-log>
      @type record_modifier
      # write a temporary field _unix_time
      <record>
        _unix_time ${Time.parse(record['request']['time']).to_i}
      </record>
    </filter>

    <filter **.rack-traffic-log>
      @type record_transformer
      enable_ruby true
      renew_time_key _unix_time
      remove_keys _unix_time
    </filter>

    <match **.rack-traffic-log>
      @type kafka_buffered
      brokers <%= @service.kafka.bootstrap_servers %>
      ssl_ca_certs_from_system true
      <%- if @service.kafka.security_protocol == "SASL_SSL" -%>
      sasl_over_ssl true
      <%- end -%>
      <%- if @service.kafka.sasl_mechanism == "PLAIN" -%>
      username <%= @service.kafka.username %>
      password <%= @service.kafka.password %>
      <%- end -%>
      default_topic <%= @service.fluentd.http_log_kafka_topic %>
    </match>

    <filter events-log.**>
      @type base64_decode
      fields data
    </filter>

    <match events-log.**>
      @type kafka2
      topic_key type
      message_key_key id
      brokers <%= @service.kafka.bootstrap_servers %>
      ssl_ca_certs_from_system true
      <%- if @service.kafka.security_protocol == "SASL_SSL" -%>
      sasl_over_ssl true
      <%- end -%>
      <%- if @service.kafka.sasl_mechanism == "PLAIN" -%>
      username <%= @service.kafka.username %>
      password <%= @service.kafka.password %>
      <%- end -%>
      headers_from_record { "ce_specversion":"$.specversion",
                            "ce_type":"$.type",
                            "ce_source":"$.source",
                            "ce_id":"$.id",
                            "ce_time":"$.time",
                            "ce_datacontenttype":"$.datacontenttype",
                            "ce_schemaurl":"$.schemaurl",
                            "ce_subject":"$.subject"
                          }

      <format>
        @type single_value
        add_newline false
        message_key data
      </format>

      <buffer type>
        @type file
        path /fluentd/log/buffer
        flush_interval 3s
      </buffer>
    </match>

    <label @ERROR>
      <match **>
        @type stdout
      </match>
    </label>